.contact-content{


    height: 395px;
    display:block;
  height: 100vh;
     margin-top: 20px;
     padding: 10px;
     font-family: var(--font1);
     position: relative;
     overflow: hidden;
}
.contact-content::after{
    content: "";
    background-image: url(../img/article1.jpg);
    position: absolute;
    top: 0;
    width: 100%;
    height: inherit;
    opacity: 0.25;
    border-radius: 10px;
    z-index: -1;
}
.contact-form{

}